*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* clases reutilizables */
.blue{
  color: #333447;
}

.display{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.title{
  line-height: 100px;
}

.border-none{
  outline: none;
  border: none;
}

.button{
  margin: 1%;
  width: 50%;
  height: 50%;
  background-color: gainsboro;
  font-size: 20px;
}

.button-color{
  background-color:#ff00bf;
  color: white  
}

/* clases para el archivo index.html */
.body-index{
  background-color: #333447;
}

.logo-lyft{
  margin: 20%;
  width:50% ;
  height:50% ; 
}

/* clases para el archivo init.html */
.fondo-body{
  background-image: url(../assets/images/fondo-init.jpg);
  background-size: cover;
  background-repeat: no-repeat;    
  background-position: center center;
  height: 100vh;
}

.logo-header{
  margin: 20px;
  width:30% ;
  height:30% ; 
}

.button-init{
  margin: 5% 0 5% 5% ;
  padding: 10px 5px;
  width:30% ;
  height:20% ;
  font-size:20px;
  outline-color: white;
  background-color: transparent;
  color: white;
}

.button-init:hover{
  outline-color: white;
  background-color:#ff00bf;
  color: white 
}

/* clases para el archivo singup.html */
.glyphicon-chevron-left{
  font-size: 40px;
  margin: 5px 10%;
  padding: 1px 5px;
  border: 1px solid #ff00bf;
  border-radius: 2px;
}

 .div-singup{
  margin: 20px;
}

.div-input, .div-select{
  display: inline-block;
  border:1px solid #ff00bf;
}

.div-input{
  height: 50px;
  width: 70%;
}

#input{
  width:100%;
  height: 30px;
  outline: none;
  border-bottom-color: aquamarine !important;
}

.div-select{
  height:50px;
  width: 40%;
}

li{
  list-style:none;
}

/* clases para el archivo login.html */
.container-login{
  padding: 0 20%;
}

.title-singup{
  line-height: 50px;
}

.button-next{
  width: 50%;
}
/* estilos para el modal */
.glyphicon-ok{
  font-size:100px;
}

.button-modal{
  margin: 0 40%;
  padding: 10px 30px;
  color: #333447;
}

/* clases para el archivo labcode.html */
.lab-word{
  display: inline-block; 
}

#input-lab{
  outline: none;
  border-bottom-color: #ff00bf !important;
}

.div-button{
  margin: 5% 0;
}

.button-resendcode{
  background-color: gainsboro;
}

/* estilos para dispositivos 'tablets' */
@media (min-width:768px) {
/* estilos para archivo singup */
  .div-input{
    height: 50px;
    width: 50%;
  }

  .div-select{
    height:50px;
    width:25%;
  }

  /* estilos para archivo login */
  .container-login{
    padding: 0 30%;
  }

  .button-next{
    margin: 10% 0; 
  }
  
}

/* estilos para dispositivos 'desktops' */
@media (min-width:992px) {
  /* estilos para archivo singup */
  .div-input{
    height: 50px;
    width: 30%;
  }
  
  .div-select{
    height:50px;
    width:15%;
  }

  /* estilos para archivo login */
  .container-login{
    padding: 0 30%;
  }

  .button-next{
    margin: 10% 0; 
  }
    
}

  /* estilos para dispositivos 'desktops-lg' */
@media (min-width:1200px) {
  /* estilos para archivo singup */
  .div-input{
    height: 50px;
    width: 30%;
  }
  
  .div-select{
    height:50px;
    width:15%;
  }

  /* estilos para archivo login */
  .container-login{
    padding: 0 30%;
  }  

  .button-next{
    margin: 10% 0; 
  }
}