<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vista init</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="fondo-body">
    <header>
      <div class="container">
        <div class="row">
          <img src="../assets/images/logo-white.png" alt="">
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <img src="" alt="">
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <button>LOG IN</button>
          <button>SING UP</button>
        </div>
      </div>
    </footer>


    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
  </body>
</html>