<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab code</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="blue text-center">
    <!-- estructura del header 'lab-code' -->
    <header>
      <div class="container">
        <div class="row">
          <h1 class="title">Very phone number</h1>
        </div>
        <div class="row">
          <h3>Join now for free ride credit</h3>
        </div>
      </div>
    </header>
    <hr>
    <!-- estructura del section 'lab code' -->
    <section>
      <div class="container">
        <div class="row">
          <h3 class="lab-word">LAB:</h3>
          <input  type="text" name="" id="input-lab">
        </div>
        <div class="row">
          <p>Enter the code sent to +52</p>
        </div>
        <div class="row div-button">
          <button class="btn btn-default button-resendcode border-none"><strong>Resend code</strong></button>
        </div>
      </div>
    </section>
    <!-- estructura del footer 'sing-up' -->
    <footer>
      <div class="container">
        <div class="row div-button">
          <button class="btn btn-default button border-none " disabled><strong>Next</strong></button>
        </div>
      </div>
    </footer>


    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/labcode.js"></script>
  </body>
</html>