<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singup</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    
  </head>
  <body class="text-center blue">
    <!-- estructura del header 'sing up' -->
    <header>
      <div class="container">
        <div class="row ">
          <div class="text-left">
            <span class="glyphicon glyphicon-chevron-left button-color "></span> 
          </div>
          <h1 class="">Sing Up</h1>
        </div>
        <div class="row">
          <h3>Join now for free ride credit</h3>
        </div>
      </div>
    </header>
    <hr>
    <!-- estructura del section 'sing-up' -->
    <section>
      <div class="container">
        <div class="row div-singup display ">
          <div class="btn-group div-select">
            <button id="button-select" class="btn btn-default btn-lg dropdown-toggle border-none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
            </button>
            <div class="div-li"></div>
            <ul class="dropdown-menu text-center">
              <li><img src="../assets/images/argentina.png" alt=""><strong>Argentina</strong></li>
              <li><img src="../assets/images/bolivia.png" alt=""><strong>Bolivia</strong></li>
              <li><img src="../assets/images/brasil.png" alt=""><strong>Brasil</strong></li>
              <li><img src="../assets/images/mexico.png" alt=""><strong>Mexico</strong></li>
              <li><img src="../assets/images/peru.jpg" alt=""><strong>Peru</strong></li>
            </ul>
          </div>
          <div id="" class="div-input">
            <input type="number" name="" id="input" placeholder=" number phone">
          </div>
        </div>
        <div class="row">
          <p>We´ll send a text to verify your phone</p>
        </div>
      </div>
    </section>
    <!-- estructura del footer 'sing-up' -->
    <footer>
      <div class="container">
        <div class="row">
          <button id="button-singup" class=" btn btn-default button border-none"><strong>Next</strong></button>
        </div>
      </div>
    </footer>


    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/singup.js"></script>
  </body>
</html>